.rotater {
  position: absolute;
  background-repeat: no-repeat;
  @include prefix(background-size, 90% 90%);
  background-position: center center;
  background-image: url(../i/rotate-bg.svg);
}

/*
.state-mover {
  background-image: url(../i/mover-bg.svg);
}
*/
