.rotater {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 100px;
  height: 100px;
  opacity: 0.5;
  transition: opacity 0.1s ease-out;
}

.rotater__hidden {
  display: none;
}

.state-rotater {
  background-image: url(../i/rotate-bg.svg);
}

.state-mover {
  background-image: url(../i/mover-bg.svg);
}